<% content_for :head do %>
	<%= stylesheet_link_tag "info" %>
	<script>
		var COMPANIES = <%= raw(@companies.to_json) %>;
	</script>
	<%= javascript_include_tag "companies" %>
<% end %>

<div id="info">
	
	<h2>Almost there, NAME</h2>

	<form method="post" action="<%= add_user_info_path %>">
		<input type="text" name="bio" placeholder="Describe yourself in one line" autofocus="autofocus" />

		<div id="company">
			<input type="text" id='company_name' name="work_location" placeholder="Where do you work? i.e. Facebook" autocomplete="off" />
			<input type="text" id='company_address' name="company_address" placeholder="Where is your office? i.e. 1601 Willow Rd." />
			<a id="company_address_confirm" href='#'>Add a new address</a>
		</div>

		<div id="apartment">
			<input type="text" name="living_location" placeholder="Where do you live? i.e. 821 Folsom St." />
			<small>We do not share your address with anyone</small>
		</div>

		<input type="submit" value="Get started &rarr;" />
	</form>
</div>
